<div class="article_perview">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="path">
          <p><span> المقالات/ </span>{{ articles?.title }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="image-container">
            <img [src]="articles?.image" alt="perview-image.png" />
          </div>

          <div class="row">
            <div class="col-lg-9">
              <div class="clock mb-3">
                <i class="fa-regular fa-clock ms-2"></i>منذ {{ days }} ايام
                <span></span>
              </div>
              <h2 class="card-title mt-3 mb-3">{{ articles?.title }}</h2>
              <!-- Render the sanitized HTML content -->
              <p class="card-text" [innerHTML]="articles?.description"></p>
            </div>

            <div class="col-lg-3">
              <h1 class="more-title">المزيد من المقالات</h1>
              <a
                *ngIf="moreArticles[0]"
                [routerLink]="['/articles-perview', moreArticles[0]?.nid]"
              >
                <div class="card">
                  <div class="card-body">
                    <img
                      class="w-100 image-width"
                      [src]="moreArticles[0]?.image"
                      alt="..."
                    />
                    <div class="clock mt-2 mb-2">
                      <i class="fa-regular fa-clock ms-2"></i>
                      <span>منذ {{ moreArticles[0]?.days }} ايام </span>
                      <!-- Bind the days for each more article -->
                    </div>
                    <h2 class="card-title-left">
                      {{ moreArticles[0]?.title }}
                    </h2>
                  </div>
                </div>
              </a>
              <!-- Conditionally render the second card -->
              <div *ngIf="moreArticles[1]">
                <a
                  *ngIf="moreArticles[1]"
                  [routerLink]="['/articles-perview', moreArticles[1]?.nid]"
                >
                  <div class="card">
                    <div class="card-body">
                      <img
                        class="w-100 image-width"
                        [src]="moreArticles[1]?.image"
                        alt="..."
                      />
                      <div class="clock mt-2 mb-2">
                        <i class="fa-regular fa-clock ms-2"></i>
                        <span>منذ {{ moreArticles[1]?.days }} ايام</span>
                        <!-- Bind the days for the second more article -->
                      </div>
                      <h2 class="card-title-left">
                        {{ moreArticles[1]?.title }}
                      </h2>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
