<div class="container-fluid py-5 trainingLines">
    <div class="row trainingLinesContainer">
      <div class="col-md-6">
        <div class="d-flex py-2">
          <h5>المسارات التعلمية /</h5>
          <h5 class="px-2 headingLine">{{ eduRoutesData.title }}</h5>
        </div>
      </div>
      <div class="row trainingLinesBackground">
        <!-- Image removed -->
        <div class="trainingLinesOpacity">
          <div class="trackIntro">
            <h3 class="py-4 fw-bold"  style="color: #004AAD;">مسار {{ eduRoutesData.title }}</h3>
            <p class="text-dark">{{ eduRoutesData.description }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row py-4">
      <!-- Goals -->
      <h4 class="pb-3">دورات المسار</h4>
      <div *ngFor="let item of eduRoutesData.goals" class="col-md-3 px-2 my-2">
        <div class="goals d-flex">
          <i class="fa-solid fa-circle-check"></i>
          <p>{{ item }}</p>
        </div>
      </div>
    </div>
  </div>
  